name: helios
version: {{ version }}
channels:
  - conda-forge
{%- if "a" in version or "b" in version %}
  - conda-forge/label/helios_dev
{%- endif %}
specs:
  - conda
  - helios={{ version }}
  - jupyterlab
  - menuinst
welcome_image: h++.png
license_file: COPYING.LESSER
menu_packages:
  - helios
